/.vs
/LINQ/bin
/LINQ/obj
/LINQ/*.csproj
/csharp-concept-practice.sln
/Delegates/bin
/Delegates/obj
/Delegates/*.csproj
/Reflection/*.csproj
/Reflection/obj
/Reflection/bin
/Events/Events.csproj
/Events/bin
/Events/obj
/InterfaceMethods/bin
/InterfaceMethods/obj
/InterfaceMethods/InterfaceMethods.csproj
